@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  /*primary color */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  /*neutral color */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
body,
html {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--Light-grayish-blue);
  line-height: 1.2em;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}
.wrapper {
  max-width: 1200px;
  max-height: 600px;
  display: grid;
  grid-template-columns: 20vw, 20vw, 20vw, 20vw;
  grid-auto-columns: minmax(210px, 275px);
  grid-template-rows: 40vh;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}
.wrapper > div {
  border-radius: 10px;
}
.general-header {
  padding: 1.5em 1.5em 0.7em 1.5em;
}
.photo {
  border-radius: 3rem;
  float: left;
  margin-right: 20px;
  width: 32px;
}
.name {
  margin: 0;
  font-size: 1em;
}
.grad {
  margin: 0;
  font-size: 0.7em;
  color: rgb(185, 185, 185);
  opacity: 0.6;
  font-weight: 600;
}
.name-grad {
  font-size: 1em;
  font-weight: 500;
}
.textbox {
  padding: 0 30px 30px 30px;
}
.textbox > p {
  margin: 0;
}
.text1 {
  font-size: 1.2em;
  font-weight: 600;
}
.text2 {
  padding-top: 15px;
  font-size: 0.9em;
  color: white;
  opacity: 0.6;
  font-weight: 500;
}
.text2-black {
  padding-top: 15px;
  font-size: 0.9em;
  color: black;
  opacity: 0.6;
  font-weight: 500;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  color: whitesmoke;
}
.box2 {
  color: whitesmoke;
}
.box3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box4 {
  min-height: auto;
}
.box5 {
  grid-column-start: 2;
  grid-column-end: 4;
  color: whitesmoke;
}
.box1 > .opal {
  background-color: var(--Moderate-violet);
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box2 > .opal {
  background-color: var(--Very-dark-grayish-blue);
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box3 > .opal {
  background-color: var(--White);
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box4 > .opal {
  background-color: var(--White);
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box5 > .opal {
  background-color: var(--Very-dark-blackish-blue);
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
