body,
html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-color: hsl(217, 54%, 11%);
  color: white;
  position: relative;
}
.tx1 {
  margin: 1.5rem 0 1.5rem 0;
  width: auto;
}
.tx2 {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
.container {
  width: 360px;
  height: 650px;
  background-color: hsl(216, 50%, 16%);
  padding: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.2rem;
}
.img1 {
  width: 360px;
  opacity: 0.8;
}
.imgview {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 158px;
}
.eth {
  display: flex;
  width: 100%;
  height: 25px;
  margin: 1.5rem 0;
}
.img2 {
  padding-right: 10px;
  transform: scale(90%);
}
.img3 {
  padding-right: 10px;
  transform: scale(90%);
}
.txteth {
  color: hsl(178, 100%, 50%);
  font-size: 18px;
  margin: 0;
  padding-right: 30%;
  padding-top: 2px;
}
.txtclock {
  margin: 0;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}
.photoname {
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 20px;
  font-weight: 400;
}
.photo {
  width: 36px;
  height: 36px;
  padding-right: 15px;
}
.txphoto1 {
  color: hsl(215, 51%, 70%);
  margin: 0%;
  font-size: 18px;
  align-items: center;
  font-weight: 400;
}
.whitetxt {
  color: hsl(0, 0%, 100%);
  margin: 0%;
  font-size: 18px;
  padding-left: 6px;
  font-weight: 400;
}
.img1color {
  height: 360px;
  width: 360px;
  position: relative;
}
.img1color:hover {
  background: aqua;
}
.imgview:hover {
  opacity: 100;
}
.tx1:hover {
  color: hsl(178, 100%, 50%);
}
.whitetxt:hover {
  color: hsl(178, 100%, 50%);
}
@media screen and (max-width: 375px) {
}
