@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");
:root {
  --cc-light-red-work: hsl(15, 100%, 70%);
  --cc-soft-blue-play: hsl(195, 74%, 62%);
  --cc-light-red-study: hsl(348, 100%, 68%);
  --cc-lime-green-exercise: hsl(145, 58%, 55%);
  --cc-violet-social: hsl(264, 64%, 52%);
  --cc-soft-orange-self-care: hsl(43, 84%, 65%);

  --cc-very-dark-blue-nt: hsl(226, 43%, 10%);
  --cc-dark-blue-nt: hsl(235, 46%, 20%);
  --cc-desatured-blue-nt: hsl(235, 45%, 61%);
  --cc-pale-blue-nt: hsl(236, 100%, 87%);
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin: 0;
  color: whitesmoke;
  background-color: var(--cc-very-dark-blue-nt);
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--cc-very-dark-blue-nt);
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.left {
  float: left;
  height: 520px;
  width: 256px;
  background-color: var(--cc-dark-blue-nt);
  border-radius: 15px;
}
.flex1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 55%;
}
.hour-box1 {
  background-color: var(--cc-light-red-work);
  width: 256px;
  height: 230px;
  margin: 30px;
  border-radius: 15px;
  position: relative;
}
.hour-box2 {
  background-color: var(--cc-soft-blue-play);
  width: 256px;
  height: 230px;
  margin: 30px;
  border-radius: 15px;
  position: relative;
}
.hour-box3 {
  background-color: var(--cc-light-red-study);
  width: 256px;
  height: 230px;
  margin: 30px;
  border-radius: 15px;
  position: relative;
}
.hour-box4 {
  background-color: var(--cc-lime-green-exercise);
  width: 256px;
  height: 230px;
  margin: 30px;
  border-radius: 15px;
  position: relative;
}
.hour-box5 {
  background-color: var(--cc-violet-social);
  width: 256px;
  height: 230px;
  margin: 30px;
  border-radius: 15px;
  position: relative;
}
.hour-box6 {
  background-color: var(--cc-soft-orange-self-care);
  width: 256px;
  height: 230px;
  margin: 30px;
  border-radius: 15px;
  position: relative;
}
.content {
  background-color: var(--cc-dark-blue-nt);
  position: relative;
  width: 256px;
  height: 186px;
  border-radius: 14px;
  top: 46px;
}
.purplebox {
  height: 70%;
  width: 256px;
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
  position: relative;
}
img {
  width: 64px;
  position: absolute;
  right: 15px;
}
.text1 {
  margin: 22px 0 0 30px;
  width: 25%;
  font-size: 16px;
  font-weight: 300;
  color: var(--cc-desatured-blue-nt);
  display: flex;
  text-decoration: none;
}
#week1 {
  color: whitesmoke;
}
.purplebox > img {
  top: 0;
  left: 0;
  margin: 0;
  border: 4px solid white;
  border-radius: 94px;
  margin: 2rem 0 0 1.5rem;
}
.reporttext {
  position: absolute;
  top: 40%;
}
.lttext {
  margin: 0 0 0.5rem 0;
  padding-left: 1.75rem;
  font-weight: 300;
  font-size: 14px;
}
.hightext {
  margin: 0 0 1rem 0;
  padding-left: 1.75rem;
  bottom: 0;
  font-size: 36px;
  font-weight: 300;
}
.textbox1 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 25px;
  margin: 0;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
.textbox1 > h3 {
  font-size: 17px;
  margin-top: 25px;
  font-weight: 300;
}
.textbox2 {
  padding-left: 25px;
}
.textbox2 > h1 {
  margin: 0.7rem 0 1rem 0;
  font-size: 50px;
  font-weight: 300;
}
.textbox2 > h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #bfc3f2d3;
}
#daily:hover {
  color: whitesmoke;
}
#monthly:hover {
  color: whitesmoke;
}
.content:hover {
  background-color: #34397e;
}
.dots:hover {
  color: whitesmoke;
  font-size: 24px;
}
.dots {
  font-size: 25px;
  color: #bfc3f2d3;
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  .main {
    width: 100vw;
    height: 100vh;
    background-color: var(--cc-very-dark-blue-nt);
    display: block;
  }
  /* PURPLEBOX RESPONSIVE */
  .left {
    float: none;
    height: 28%;
    margin: 30px;
    width: 80vw;
    min-width: 290px;
    position: relative;
    margin-bottom: 15px;
  }
  .purplebox > img {
    position: static;
    width: 56px;
    height: 56px;
    margin: 0 0 1rem 1rem;
  }
  .reporttext {
    position: static;
  }
  .reporttext > h4 {
    margin: 0;
    padding: 10px 0 5px 15px;
  }
  .reporttext > h1 {
    font-size: 24px;
    padding-left: 15px;
  }
  .purplebox {
    display: flex;
    width: 80vw;
    min-width: 290px;
    align-items: center;
  }
  .text1 {
    display: inline-block;
    margin: 18px 0 15px 0;
    width: 32%;
    text-align: center;
  }

  /* flexbox responsive */
  .content {
    width: 80vw;
    min-width: 292px;
    height: 100px;
    top: 30px;
    right: 1px;
  }
  .hour-box1 {
    width: 80vw;
    min-width: 289px;
    height: 50%;
  }
  .hour-box2 {
    width: 80vw;
    min-width: 289px;
    height: 50%;
  }
  .hour-box3 {
    width: 80vw;
    min-width: 289px;
    height: 50%;
  }
  .hour-box4 {
    width: 80vw;
    min-width: 289px;
    height: 50%;
  }
  .hour-box5 {
    width: 80vw;
    min-width: 289px;
    height: 50%;
  }
  .hour-box6 {
    width: 80vw;
    min-width: 289px;
    height: 50%;
  }
  /* Text flexbox responsive */
  .textbox {
    height: 100px;
  }
  .textbox1 > h3 {
    margin: 20px 0 10px 0;
  }
  .textbox2 {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }
  .textbox2 > h1 {
    margin: 0;
    font-size: 30px;
  }
  .textbox2 > h4 {
    margin: 0;
    padding-right: 15px;
  }
}
